
.blog_container {
    display: flex;
    margin-top: 96px;
    flex-direction: column;
}

@media (max-width: 800px) {
    .blog_container {
        margin-top: 24px;
  }
}

.blog_content {
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
}

.blogs_articles_list {
    display: grid;
    width: 948px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 48px;
    row-gap: 64px;
    justify-content: center;
    justify-items: center;
}

@media (max-width: 1300px) {
    .blogs_articles_list {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 16px;
        width: 100%;
        row-gap: 70px;
        margin: 0;
        padding: 0;
        justify-content: space-between;
        justify-items: center;
  }

    .blog_content,
    .blog_right_container {
        width: 100%;
    }
}

@media (max-width: 920px) {
    .blogs_articles_list {
        row-gap: 30px;
        column-gap: 10px;
  }
}

  @media (max-width: 780px) {
    .blogs_articles_list {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 16px;
  }
}

.page_pagination_container {
    overflow-x: auto;
    margin-top: 96px;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 1220px) {
    .page_pagination_container {
        justify-content: flex-start;
  }
}

@media (max-width: 610px) {
    .page_pagination_container {
        margin-top: 24px;
  }
}

.blog_sidebar_container {
    width: 262px;
}

@media (max-width: 1300px) {
    .blog_sidebar_container {
        display: none;
  }
}
